html, body {
	/*margin: 5px;*/
	font-size: 15pt;
	width: 100%;
	font-family: Verdana;
	overflow: visible;
}
button {
	cursor: pointer;
	width: 100%;
	height: 100%;
	border-radius: 0px;
	font-size: 16px;
}
table {
	/*margin: 5px;*/
}
 tr, th, td {
	padding: 5px;
	/*border-spacing: 0px;
	margin: 20px;*/
	width: 150px;
	height: 30px;
	align-content: center;
}
th {
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid black;
}
td {
	padding: 1px;
}
header {
	width: 100%;
	height: 60px;
	background-color: black;
	color: white;
	transition: background-color 0.6s;
}
h2 {
	margin: 0px;
}
footer {
	width: 100%;
	height: 20px;
}
.sticky {
  	background-color: rgba(0, 0, 0, 0.25);
  	transition: background-color 0.6s;
  	color: black;
}
.main {
	height: 35px;
	margin-top: 5px;
}
.collapsible {
	width: 100%;
	background-color: #eee;
  	color: #444;
  	cursor: pointer;
  	padding: 18px;
  	border: none;
  	text-align: left;
  	outline: none;
  	font-size: 15px;
  	margin: 5px 5px 0px 0px;
}
.active, .collapsible:hover {
  background-color: #ccc;
}
.content {
    padding: 0 18px;
    background-color: #eee;
    max-height: 0;
    overflow: hidden;
    text-align: left;
    margin-top: 0px;
    transition: max-height 0.3s ease-out;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.half {
	width: 200px;
	margin: 5px 5px 5px 10px;
	display: inline-block;
	display: table-cell;
}
.result, b {
	display: block;
}
.eq {
	display: table;
}
.full {
	/*height: 100%;*/
	width: auto;
}
.HeaderContent {
	margin-top: 80px;
}
#header {
	position: fixed;
 	top: 0;
  	width: 100%;
  	margin-bottom: 5px;
}
#icon {
	height: 100%;
	width: auto;
}
#HeaderIcon {
	height: 100%;
	width: auto;
	display: inline-block;
	margin: 0px 5px 0px 5px;
}
#title {
	display: inline-block;
	margin: 5px;
	margin: 11px;
	position: absolute;
}
#nn_container {
	margin: 10px;
}
#buttons {
	margin-top: 20px;
}
#canvas {
	width: 415px;
	height: 200px;
	/*margin-bottom: 0px;*/
	padding: 0px;
}
#collapsibles {
	width: 70%;

}
#answer {
	width: 20px,
	height: 20px;
}

@media only screen and (max-width: 430px) {
	canvas {
		width: 200px !important;
	}
	#canvas {
		display: block;
		width: 100%;
		height: auto;
	}
	.half {
		width: 100%;
		margin: 10px 0px;
		display: block;
		margin-bottom: 10px;
	}
	.HeaderContent {
	  padding: 16px;
	}
	.sticky {
	  position: fixed;
	  top: 0;
	  width: 100%
	}
	.HeaderContent {
		margin-top: 50px;
	}
	#collapsibles {
		width: 90%;
	}
}